.wrap
  min-height: 100vh

  $r: &

  &:not(&--post)
    display: grid
    grid-template-columns: 1fr 75vw 1fr
    grid-template-areas: "header header header" "start main end" "footer footer footer"
    grid-template-rows: auto 1fr auto

    +md-down
      grid-template-columns: 1fr 90vw 1fr

    #main
      grid-column: main

    #footer
      grid-column: footer

    .site-header
      &__hamburger
        display: none
        align-items: center
        grid-column: left
        font-size: 2rem
        background: transparent
        border: none
        color: #fff
        text-align: left
        padding: 0
        cursor: pointer

        +sm-down
          display: flex

  &--post
    .site-header__banner
      display: none

    .site-header
      width: auto
      display: block
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
      background: none
      padding-top: 24px
      box-shadow: none

      +sm-down
        padding-top: 8px

      &__menu
        display: block
        width: auto

      &__right, &__left
        display: none

    #header-inner
      display: none

