figure
  margin: 0 auto
  display: inline-block
  width: 100%
  font-size: 0

  img, video 
    opacity: 0.66

    &:hover
      opacity: 1

  figcaption
    display: block
    margin-top: 1em
    font-size: .75rem
    color: var(--text-light)
    text-align: center
    font-style: italic

  &.small
    & > *:first-child, & > br:first-child + *
      display: block
      width: 40%
      margin: 0 auto

      +sm-down
        width: 66%

      @media(max-width: 37.5rem)
        width: 100%

  &.medium
    & > *:first-child, & > br:first-child + *
      display: block
      width: 66%
      margin: 0 auto

      +sm-down
        width: 75%

      @media(max-width: 37.5rem)
        width: 100%

  &.full
    & > *:first-child, & > br:first-child + *
      width: 100%
