.footer
  text-align: center
  padding-top: 0
  font-size: 0
  background: transparentize($link-color, .9)

  .outer
    +container
    display: flex
    justify-content: center
    padding: 1rem 2rem

  &__copy, &__power
    font-size: (1/1.25) * 1rem

    +md-down
      font-size: calc(1rem - .25vw)

    +sm-down
      display: block

  &__copy
    &::after
      content: "•"
      padding: 0 .5em

      +sm-down
        display: none
