.site-header
  grid-column: header
  width: 100%
  position: relative
  background: var(--navbar-background)
  transition: background 0.2s ease-in-out
  margin-bottom: 2rem
  padding: 1.5rem 0
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2)

  +sm-down
    padding: 0.5rem 0

  &__menu
    display: grid
    grid-template-columns: 1fr repeat(3, calc(75vw / 3)) 1fr
    grid-template-areas: "start left logo right end"
    width: 100%
    height: 2rem
    align-items: center

    +md-down
      grid-template-columns: 1fr repeat(3, calc(90vw / 3)) 1fr

  &__left
    grid-area: left
    display: flex
    align-items: center

    a
      color: var(--navbar-color)
      margin-right: 1em

  &__right
    grid-area: right
    display: flex
    justify-content: flex-end

  &__btns
    grid-area: right
    display: flex
    justify-content: flex-end

    a
      display: flex
      justify-content: center
      align-items: center

    .material-icons
      color: var(--navbar-color)
      font-size: 1.5em

  &__title
    display: flex
    align-items: center
    justify-content: center
    grid-area: logo
    margin: 0
    text-align: center

    a
      color: var(--navbar-color)
      font-size: 1.5rem
      text-transform: uppercase
      box-shadow: none
      text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2)

      &:hover, &:focus
        box-shadow: inset 0 -0.09em 0 currentColor

  +sm-down
    &__left
      display: none

.dark-mode-button
  background: none
  padding: 0
  color: var(--navbar-color)
  border: 0
  cursor: pointer
  height: 2rem
  width: 2rem
  overflow: hidden

  &::after
    display: block
    content: "wb_sunny"

body.dark
  .dark-mode-button
    &::after
      transform: rotate(30deg)
      content: "brightness_3"
