$background-color: #fff
$link-color: #2962FF
$mark-color: $link-color
$code-background: $link-color

body
  --background-color: #fff
  --text-color: rgba(0, 0, 0, 0.84)
  --article-header: var(--text-color)
  --blockquote-color: #141414
  --selection-background: rgba(0,0,0,0.75)
  --selection-color: #fff

body.dark
  --background-color: #111
  --text-color: rgba(255, 255, 255, 0.75)
  --article-header: #fff
  --blockquote-color: rgba(255, 255, 255, 0.5)
  --selection-background: rgba(255, 255, 255, 0.5)
  --selection-color: #111
