<header id="header" class="site-header">
  <div class="site-header__menu">
    <h1 class="site-header__title">
      <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
    </h1>
    </nav>

    <div class="site-header__right">
      <button class="dark-mode-button material-icons"></button>
    </div>
  </div>
</header>
